includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    # Level 9 is the highest level
    level: 3
    ignoreErrors:
        # larastan needs to manage ->pivot properties
        #- '#Access to an undefined property App\\Models\\[^:]*::\$pivot\.#'
        #- '#Method\s.+?\sreturn type has no value type specified in iterable type array\.#'
        - '#PHPDoc type array<string> of property App\\Models\\[^:]*::\$fillable is not covariant with PHPDoc type array<int, string> of overridden property Illuminate\\Database\\Eloquent\\Model::\$fillable.#'
        - '#Property App\\Models\\[^:]*::\$label \(never\) does not accept string\|null.#'
        - '#Property App\\Models\\[^:]*::\$label \(never\) does not accept string.#'

#
    excludePaths:
#        - ./*/*/FileToBeExcluded.php
        - app/Http/Controllers/Auth/VerifyEmailController.php
        - app/Http/ViewModels/Profile/ApiAccessViewModel.php
        - app/Models/User.php
        - app/Services/UpdatePermission.php

#
#    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
